{% load static %}
<nav class="navbar navbar-light bg-primary navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
            <img src="{% static 'img/logo.png' %}" alt="Logo" width="40" height="40" class="d-inline-block align-text-bottom">
            <span class="navbar-text" style="font-family: Lucida Handwriting Std Black; font-size:larger; margin-left: 5px;">
                logium
            </span>
        </a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="{% url 'blogs' %}" class="nav-link">Blogs</a>
            </li>
        </ul>
        <div class="dropdown">
            {% if user.is_authenticated %}
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ image.avatar.url }}" alt="mdo" width="34" height="34" class="rounded-circle">
            </a>
            {% else %}
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'img/user.png' %}" alt="mdo" width="34" height="34" class="rounded-circle">
            </a>
            {% endif %}
            <ul class="dropdown-menu text-small">
                {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'addblog' %}">New story</a></li>  <!--{% url 'blogs' %} -->
                <li><a class="dropdown-item" href="{% url 'myblogs' %}">My Blogs</a></li>
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'register' %}">Sign in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>