{% extends 'base.html' %}
{% load static %}
{% block title%} {{blog.title|title}} {% endblock %}

{% block content %}
<div class="container">
   <div class="card mb-3">
    <img src="{{ blog.image.url}}" class="card-img-top rounded mx-auto img-thumbnail " style="width: fit-content; height: fit-content;">
    <div class="card-body">
      <h5 class="card-title">{{blog.title|title}}</h5>
      <p class="card-text">{{blog.story|safe|linebreaks}}</p>
      <p class="card-text"><small class="text-body-secondary">{{blog.published_date}}</small></p>
      <p class="card-text"><small class="text-body-secondary"><i> Author: {{blog.author|title}}</i></small></p>
    </div>
  </div>
</div>
{% endblock %}